<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results Page</title>
</head>
<body>
    <nav id="navi">
        <a href="http://localhost:3000/">Home</a> &nbsp; &nbsp;
        <a href="http://localhost:3000/users">Users</a> &nbsp; &nbsp;
        <a href="http://localhost:3000/resources">Resources</a> &nbsp; &nbsp;
        <a href="">Downloads</a> &nbsp; &nbsp;
        <a href="">Buy Me Coffee</a> &nbsp; &nbsp;
        <a href="http://localhost:3000/calculate">Calculator</a> &nbsp; &nbsp;
        <a href="http://localhost:3000/about">About Us</a> &nbsp; &nbsp;
  
      </nav>
    <p>You made a great calculations here</p>
</body>
</html>